<div class="product-list">
    <h1>All Product List</h1>
    <p class="p-msg">{{productMessage}}</p>
    <table >
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Color</th>
                <th>Actio</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>{{item.color}}</td>
                <td ><fa-icon [icon]="deleteIcon"  (click)="deleteProduct(item.id)"></fa-icon>
                    <a routerLink="/seller-update-product/{{item.id}}" class="icon-link"><fa-icon [icon]="editIcon"></fa-icon></a>
                </td>
                
               <!--  <td><button class="delete-btn" (click)="deleteProduct(item.id)">Delete</button></td> -->
               
            </tr>
        </tbody>
    </table>
</div>